; config file for converting string aliases to filepaths
; mostly for importing from trenchbroom


; species aliases
[species]

; pinkerton
pinkerton="res://entities/enemies/military/pinkerton.tscn"
strikebreaker="res://entities/enemies/military/pinkerton.tscn"
pinky="res://entities/enemies/military/pinkerton.tscn"
pink="res://entities/enemies/military/pinkerton.tscn"

; canary
canary="res://entities/enemies/locals/canary.tscn"
miner="res://entities/enemies/locals/canary.tscn"
zombie="res://entities/enemies/locals/canary.tscn"

; lizard
lizard="res://entities/enemies/locals/lizard.tscn"
liz="res://entities/enemies/locals/lizard.tscn"
croc="res://entities/enemies/locals/lizard.tscn"

; sleeping lizard
lizard_asleep="res://entities/enemies/locals/eepy_lizard.tscn"
liz_asleep="res://entities/enemies/locals/eepy_lizard.tscn"
croc_asleep="res://entities/enemies/locals/eepy_lizard.tscn"
lizard_sleeping="res://entities/enemies/locals/eepy_lizard.tscn"
liz_sleeping="res://entities/enemies/locals/eepy_lizard.tscn"
croc_sleeping="res://entities/enemies/locals/eepy_lizard.tscn"
lizard_napping="res://entities/enemies/locals/eepy_lizard.tscn"
liz_napping="res://entities/enemies/locals/eepy_lizard.tscn"
croc_napping="res://entities/enemies/locals/eepy_lizard.tscn"
sleeping_lizard="res://entities/enemies/locals/eepy_lizard.tscn"
sleeping_liz="res://entities/enemies/locals/eepy_lizard.tscn"
sleeping_croc="res://entities/enemies/locals/eepy_lizard.tscn"
napping_lizard="res://entities/enemies/locals/eepy_lizard.tscn"
napping_liz="res://entities/enemies/locals/eepy_lizard.tscn"
napping_croc="res://entities/enemies/locals/eepy_lizard.tscn"
sleepy_lizard="res://entities/enemies/locals/eepy_lizard.tscn"
sleepy_liz="res://entities/enemies/locals/eepy_lizard.tscn"
sleepy_croc="res://entities/enemies/locals/eepy_lizard.tscn"
eepy_lizard="res://entities/enemies/locals/eepy_lizard.tscn"
eepy_liz="res://entities/enemies/locals/eepy_lizard.tscn"
eepy_croc="res://entities/enemies/locals/eepy_lizard.tscn"

; flying eyeball
eyeball="res://entities/enemies/locals/eyeball.tscn"
eye="res://entities/enemies/locals/eyeball.tscn"

; enforcer
enforcer="res://entities/enemies/military/enforcer.tscn"
cop="res://entities/enemies/military/enforcer.tscn"

; plasma bot
plasma_droid="res://entities/enemies/machines/plasma_droid.tscn"
plasma_bot="res://entities/enemies/machines/plasma_droid.tscn"
plasma="res://entities/enemies/machines/plasma_droid.tscn"
plas="res://entities/enemies/machines/plasma_droid.tscn"

; rocketeer
rocketeer="res://entities/enemies/military/rocketeer.tscn"
rocket="res://entities/enemies/military/rocketeer.tscn"
rock="res://entities/enemies/military/rocketeer.tscn"
revenant="res://entities/enemies/military/rocketeer.tscn"
rev="res://entities/enemies/military/rocketeer.tscn"


; sound effects
[sounds]

metal_door="res://audio/streams/effects/metal_door_move.wav"
metal_open="res://audio/streams/effects/metal_door_move.wav"


; color palette luts
[palettes]

default="res://textures/effects/look_up_tables/3d/lut_neutral.png"
neutral="res://textures/effects/look_up_tables/3d/lut_neutral.png"

inverse="res://textures/effects/look_up_tables/3d/lut_inverse.png"
inv="res://textures/effects/look_up_tables/3d/lut_inverse.png"

grayscale="res://textures/effects/look_up_tables/3d/lut_grayscale.png"
gray="res://textures/effects/look_up_tables/3d/lut_grayscale.png"
greyscale="res://textures/effects/look_up_tables/3d/lut_grayscale.png"
grey="res://textures/effects/look_up_tables/3d/lut_grayscale.png"


; ambient effects, like weather and particle systems
[effects]

; snowfall
snowfall="res://scenes/effects/world/snow.tscn"
snow="res://scenes/effects/world/snow.tscn"

; lava bubbles/sparks
lava="res://scenes/effects/world/lava_sparks.tscn"
lava_sparks="res://scenes/effects/world/lava_sparks.tscn"
lava_bubbles="res://scenes/effects/world/lava_sparks.tscn"
