; config file for converting string aliases to filepaths
; mostly for importing from trenchbroom


; species aliases
[species]

; pinkerton
pinkerton="pinkerton"
strikebreaker="pinkerton"
pinky="pinkerton"
pink="pinkerton"

; canary
canary="canary"
miner="canary"
zombie="canary"

; lizard
lizard="lizard"
liz="lizard"
croc="lizard"

; sleeping lizard
lizard_asleep="eepy_lizard"
liz_asleep="eepy_lizard"
croc_asleep="eepy_lizard"
lizard_sleeping="eepy_lizard"
liz_sleeping="eepy_lizard"
croc_sleeping="eepy_lizard"
lizard_napping="eepy_lizard"
liz_napping="eepy_lizard"
croc_napping="eepy_lizard"
sleeping_lizard="eepy_lizard"
sleeping_liz="eepy_lizard"
sleeping_croc="eepy_lizard"
napping_lizard="eepy_lizard"
napping_liz="eepy_lizard"
napping_croc="eepy_lizard"
sleepy_lizard="eepy_lizard"
sleepy_liz="eepy_lizard"
sleepy_croc="eepy_lizard"
eepy_lizard="eepy_lizard"
eepy_liz="eepy_lizard"
eepy_croc="eepy_lizard"

; flying eyeball
eyeball="eyeball"
eye="eyeball"

; enforcer
enforcer="enforcer"
cop="enforcer"

; plasma bot
plasma_droid="plasma_droid"
plasma_bot="plasma_droid"
plasma="plasma_droid"
plas="plasma_droid"

; rocketeer
rocketeer="rocketeer"
rocket="rocketeer"
rock="rocketeer"
revenant="rocketeer"
rev="rocketeer"

[species_paths]

canary="res://entities/enemies/locals/canary/canary.tscn"
lizard="res://entities/enemies/locals/lizard/lizard.tscn"
eepy_lizard="res://entities/enemies/locals/lizard/eepy_lizard.tscn"
eyeball="res://entities/enemies/locals/eyeball/eyeball.tscn"

pinkerton="res://entities/enemies/military/pinkerton/pinkerton.tscn"
enforcer="res://entities/enemies/military/enforcer/enforcer.tscn"
rocketeer="res://entities/enemies/military/rocketeer/rocketeer.tscn"

plasma_droid="res://entities/enemies/machines/plasma_droid/plasma_droid.tscn"

; sound effects
[sounds]

metal_door="res://audio/streams/effects/metal_door_move.wav"
metal_open="res://audio/streams/effects/metal_door_move.wav"


; color palette luts
[palettes]

default="res://textures/effects/look_up_tables/3d/lut_neutral.png"
neutral="res://textures/effects/look_up_tables/3d/lut_neutral.png"

inverse="res://textures/effects/look_up_tables/3d/lut_inverse.png"
inv="res://textures/effects/look_up_tables/3d/lut_inverse.png"

grayscale="res://textures/effects/look_up_tables/3d/lut_grayscale.png"
gray="res://textures/effects/look_up_tables/3d/lut_grayscale.png"
greyscale="res://textures/effects/look_up_tables/3d/lut_grayscale.png"
grey="res://textures/effects/look_up_tables/3d/lut_grayscale.png"


; ambient effects, like weather and particle systems
[effects]

; snowfall
snowfall="res://scenes/effects/world/snow.tscn"
snow="res://scenes/effects/world/snow.tscn"

; lava bubbles/sparks
lava="res://scenes/effects/world/lava_sparks.tscn"
lava_sparks="res://scenes/effects/world/lava_sparks.tscn"
lava_bubbles="res://scenes/effects/world/lava_sparks.tscn"
