; english text

; ui elements
[ui]

quit="QUIT"


; alert popups
[alerts]

locked.red="THIS DOOR REQUIRES THE RED KEY"
locked.green="THIS DOOR REQUIRES THE GREEN KEY"
locked.blue="THIS DOOR REQUIRES THE BLUE KEY"
locked.remote="THIS DOOR IS OPENED ELSEWHERE"


; interaction tooltips
[tooltips]

open="OPEN"
close="CLOSE"
eat.corpse="DEVOUR"


; events log text
[events]

; health pickups
pickup.health.gen="+%s%% HEALTH"
pickup.health.bonus="+%s%% BONUS HEALTH"

pickup.armor.gen="+%s%% ARMOR"
pickup.armor.bonus="+%s%% BONUS ARMOR"

; weapon pickups
pickup.weap.boomstick=""
pickup.weap.akm=""
pickup.weap.nailgun=""
pickup.weap.plasma=""
pickup.weap.bigiron=""
pickup.weap.rifle=""
pickup.weap.crossbow=""
pickup.weap.rpg=""

; powerups
pickup.health.heart=""


; level names
[levels]
