; english text

; ui elements
[ui]

menu.campaign="CAMPAIGN"
menu.saves="SAVE/LOAD"
menu.settings="SETTINGS"
menu.quit="QUIT"


; alert popups
[alerts]

chicken="NO TURNING BACK NOW"

door.locked.0="THIS DOOR REQUIRES THE [color=FF0000]RED[/color] KEY"
door.locked.1="THIS DOOR REQUIRES THE [color=#00FF00]GREEN[/color] KEY"
door.locked.2="THIS DOOR REQUIRES THE [color=0000ff]BLUE[/color] KEY"
door.locked.card.0="THIS DOOR REQUIRES THE [color=ff0000]RED[/color] KEYCARD"
door.locked.card.1="THIS DOOR REQUIRES THE [color=00ff00]GREEN[/color] KEYCARD"
door.locked.card.2="THIS DOOR REQUIRES THE [color=0000ff]BLUE[/color] KEYCARD"
door.locked.nerve.0="THIS DOOR REQUIRES THE [color=ff0000]RED[/color] NERVE"
door.locked.nerve.1="THIS DOOR REQUIRES THE [color=00ff00]GREEN[/color] NERVE"
door.locked.nerve.2="THIS DOOR REQUIRES THE [color=0000ff]BLUE[/color] NERVE"
door.locked.-2="THIS DOOR IS OPENED ELSEWHERE"
door.locked.-1="SOME THINGS CANNOT BE UNDONE"

sequence.countdown="%s MORE TO GO"
sequence.complete="SEQUENCE COMPLETE!"
sequence.complete.door="SEQUENCE COMPLETE!\nA DOOR OPENS SOMEWHERE"

secret="YOU FOUND A SECRET!\n%0*d/%s"

remote.door.open="A door opens somewhere"


; interaction tooltips
[tooltips]

open="OPEN"
close="CLOSE"
eat.corpse="DEVOUR"
lever.pull="Pull"
lever.unpull="Pull"


; events log text
[events]

; health pickups
pickup.health.gen="+%s%% HEALTH"
pickup.health.bonus="+%s%% BONUS HEALTH"

; armor pickups
pickup.armor.gen="+%s ARMOR"
pickup.armor.bonus="+%s BONUS ARMOR"

; ammo pickups
pickup.ammo.shells="+%s shotgun shells"
pickup.ammo.nails="+%s NAILS"
pickup.ammo.grenades="+%s GRENADES"
pickup.ammo.rockets="+%s SHELLS"
pickup.ammo.akm="+%s AKM ROUNDS"
pickup.ammo.bigiron="+%s RIFLE BULLETS"
pickup.ammo.cells="+%s%% POWER CELL CHARGE"
pickup.ammo.shells="+%s SHELLS"
pickup.ammo.pack="FOUND A BACKPACK FULL OF AMMO"

; weapon pickups
pickup.weap.boomstick="Burgled a Boomstick"
pickup.weap.akm="Acquired an AKM"
pickup.weap.nailgun="Nabbed a Nailgun"
pickup.weap.plasma="Pilfered a Plasma Cannon"
pickup.weap.bigiron="Borrowed a Big Iron"
pickup.weap.rifle="Hunted a Hunting Rifle"
pickup.weap.crossbow="Confiscated a Crossbow"
pickup.weap.rpg="Retrieved an RPG"

; key pickups
pickup.key.red="Recovered the [color=0000ff]RED[/color] Key"
pickup.key.green="Grabbed the [color=0000ff]GREEN[/color] Key"
pickup.key.blue="Bagged the [color=0000ff]BLUE[/color] Key"

pickup.key.card.red="Recovered the [color=0000ff]RED[/color] Keycard"
pickup.key.card.green="Grabbed the [color=0000ff]GREEN[/color] Keycard"
pickup.key.card.blue="Bagged the [color=0000ff]BLUE[/color] Keycard"

pickup.key.nerve.red="Recovered the [color=0000ff]RED[/color] Neuron"
pickup.key.nerve.green="Grabbed the [color=0000ff]GREEN[/color] Neuron"
pickup.key.nerve.blue="Bagged the [color=0000ff]BLUE[/color] Neuron"

; powerups
pickup.health.heart="A Still-Beating Heart (+%s%% bonus health)"


; level names
[levels]

code="E%sM%s"

intro="In the Flesh?"
e1m2="The Color Out of Space"
e1m3="Sixteen Tons"
e1m4=""
e1m5=""
e1m6=""
e1m7=""
e1_boss=""
e1_secret=""

e2m1=""
e2m2="Goodbye Blue Sky"
e2m3=""
e2m4=""
e2m5=""
e2m6=""
e2m7=""
e2_boss=""
e2_secret=""

e3m1=""
e3m2=""
e3m3=""
e3m4=""
e3m5=""
e3m6=""
e3m7=""
e3_boss=""
e3_secret=""

e4m1="In the Flesh"
e4m2=""
e4m3=""
e4m4=""
e4m5=""
e4m6=""
e4m7=""
finale="WELCOME"
e4_secret=""

e5="Echoes"

t1="test level"
u1="u1"
u2="u2"
u3="u3"
